.wp-block-my-theme-testimonials.testimonials-section { border:0; box-shadow:none; margin-block-start:0 !important; outline:0; width:100%; }
.testimonials-section .testimonial-prev,
.testimonials-section .testimonial-next { background-color:transparent; border:0; box-shadow:none; padding:0; }
